// 显示默认值
$accentColor = #ff3333
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-container.common .token.string{
	color:#fd0000
}
.theme-container.common .token.variable{
	color:#fd0000
}
.theme-container.common .token.operator{
	color:#d72323
}